body{
            background-image:url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1974/clouds.jpg?v=1541577899000");
            max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }

            .top-navigation {
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 5;
                padding: 0;
                text-transform: uppercase;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                background: rgba(07, 67, 101, 0.8);
                height: 3.375rem;
                align-items: center;
            }

            @media screen and (min-width: 783px) {
                .top-navigation {
                    height: 3.8125rem;
                }
            }

            .top-navigation a {
                color: #fff;
            }

            .top-navigation .btn-donate {
                color: #333;
            }

            .admin-bar .top-navigation {
                top: 46px;
            }

            @media screen and (min-width: 783px) {
                .admin-bar .top-navigation {
                    top: 32px;
                }
            }

            .site-logo,
            .btn-navbar-toggle,
            .navbar-search-toggle,
            .country-dropdown-toggle,
            .nav-item,
            .nav-link {
                line-height: 3.375rem;
                padding: 0 15px;
            }

            @media screen and (min-width: 783px) {
                .site-logo,
                .btn-navbar-toggle,
                .navbar-search-toggle,
                .country-dropdown-toggle,
                .nav-item,
                .nav-link {
                    line-height: 3.75rem;
                    font-size: 1.125rem;
                }
            }

            .btn-navbar-toggle.active,
            .btn-navbar-toggle:hover,
            .btn-navbar-toggle:focus,
            .btn-navbar-toggle:active,
            .country-dropdown-toggle.active,
            .country-dropdown-toggle:hover,
            .country-dropdown-toggle:focus,
            .country-dropdown-toggle:active,
            .nav-link.active,
            .nav-link:hover,
            .nav-link:focus,
            .nav-link:active {
                text-decoration: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                outline: 0;
            }

            .navbar-search-toggle,
            .btn-navbar-toggle {
                line-height: 2rem;
                margin: 11px;
                color: #fff;
                z-index: 1;
            }

            .navbar-search-toggle fa,
            .btn-navbar-toggle fa {
                font-size: 1.125rem;
            }

            .navbar-dropdown-toggle[aria-expanded="true"] {
                z-index: 2;
                background: rgba(0, 0, 0, 0.5);
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                outline: 0;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                padding: 0;
                margin: 0;
            }

            @media (min-width: 992px) {
                .navbar-dropdown-toggle {
                    display: none;
                }
            }

            @media (min-width: 1200px) {
                .navbar-dropdown {
                    padding: 0 15px;
                }
            }

            @media (max-width: 992px) {
                .site-logo {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                }
            }

            .site-logo:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .site-logo img {
                height: 1.25rem;
            }

            @media (min-width: 575px) {
                .site-logo img {
                    height: 1.5rem;
                }
            }

            @media (min-width: 992px) {
                .site-logo img {
                    height: 1.875rem;
                }
            }

            .navbar-dropdown-toggle {
                -webkit-box-ordinal-group: 0;
                -ms-flex-order: -1;
                order: -1;
            }

            .navbar-dropdown {
                display: none;
                margin: 0;
                list-style-type: none;
            }

            .navbar-dropdown.open {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            @media (max-width: 768px) {
                .navbar-dropdown li:first-child {
                    z-index: 10;
                }
            }

            @media screen and (max-width: 575px) {
                .navbar-dropdown {
                    height: 100vh;
                    width: 300px;
                }
            }

            @media screen and (min-width: 575px) and (max-width: 782px) {
                .navbar-dropdown {
                    height: 100vh;
                    width: 375px;
                }
            }

            @media screen and (min-width: 783px) and (max-width: 992px) {
                .navbar-dropdown {
                    width: 400px;
                }
            }

            @media screen and (max-width: 782px) {
                .admin-bar .navbar-dropdown {
                    height: calc(100vh - 46px);
                }
            }

            @media screen and (min-width: 783px) and (max-width: 992px) {
                .admin-bar .navbar-dropdown {
                    height: calc(100vh - 32px);
                }
            }

            @media (max-width: 992px) {
                .navbar-dropdown {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #0a4f45 url("images/dropdown-gradient.svg") no-repeat;
                    overflow-y: auto;
                    overflow-x: hidden;
                    z-index: 2;
                }
                .navbar-dropdown .close-navbar-dropdown {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    height: 3.375rem;
                    width: 3.375rem;
                    background: url("images/close-icon.svg") center center no-repeat;
                    z-index: 2;
                    border: 0;
                }
            }

            @media (max-width: 992px) and (min-width: 783px) and (max-width: 992px) {
                .navbar-dropdown .close-navbar-dropdown {
                    height: 3.75rem;
                }
            }

            @media (max-width: 992px) {
                .navbar-dropdown .close-navbar-dropdown:focus,
                .navbar-dropdown .close-navbar-dropdown:hover {
                    border: 1px dotted rgba(255, 255, 255, 0.5);
                }
                .navbar-dropdown::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 8px;
                    background: rgba(0, 0, 0, 0.1);
                    z-index: 0;
                }
                .navbar-dropdown .country-dropdown-toggle {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 100%;
                    text-align: left;
                    padding: 0 70px 0 67px;
                }
                .navbar-dropdown .country-dropdown-toggle::before {
                    content: "";
                    position: absolute;
                    top: 13px;
                    left: 0;
                    height: 1.75em;
                    width: 50px;
                    display: inline-block;
                    background: url("images/country-icon.svg") center center no-repeat;
                    border-right: 1px solid rgba(255, 255, 255, 0.1);
                    background-size: contain;
                }
            }

            @media screen and (max-width: 992px) and (min-width: 783px) {
                .navbar-dropdown .country-dropdown-toggle::before {
                    top: 17px;
                }
            }

            @media (max-width: 992px) {
                .navbar-dropdown .nav-item {
                    z-index: 1;
                }
                .navbar-dropdown .nav-item:last-child {
                    -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
                }
                .navbar-dropdown .nav-link {
                    padding: 0 40px 0 50px;
                    display: block;
                    line-height: 2.8125rem;
                    font-size: 1rem;
                    margin: 0.5em 0;
                }
                .navbar-dropdown .active .nav-link,
                .navbar-dropdown .nav-link:focus,
                .navbar-dropdown .nav-link:hover {
                    position: relative;
                    z-index: 2;
                    color: #042233;
                }
                .navbar-dropdown .active .nav-link::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    background: #042233;
                    width: 8px;
                    margin-left: -50px;
                    z-index: 2;
                }
                .navbar-dropdown .btn-donate {
                    display: block;
                    width: 200px;
                    margin: 1.5em auto;
                    padding: 5px 30px;
                }
            }

            @media (max-width: 768px) {
                .navbar-dropdown {
                    background-position: right 3.375rem;
                }
            }

            @media (min-width: 768px) and (max-width: 992px) {
                .navbar-dropdown {
                    background-position: right 3.75rem;
                }
            }

            @media (min-width: 992px) {
                .navbar-dropdown {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-around;
                }
                .navbar-dropdown .close-navbar-dropdown,
                .navbar-dropdown .nav-item-dropdown {
                    display: none;
                }
                .navbar-dropdown .nav-link {
                    padding: 0 20px;
                    min-width: 20%;
                    text-align: center;
                    border-bottom: 2px solid transparent;
                }
                .navbar-dropdown .nav-link:hover,
                .navbar-dropdown .nav-link:focus,
                .navbar-dropdown .nav-link:active {
                    border-bottom: 2px solid #fff;
                }
                .navbar-dropdown .active .nav-link {
                    color: #86eee7;
                    border-bottom: 2px solid #86eee7;
                }
            }

            .navbar-dropdown .nav-item {
                margin: 0;
                padding: 0;
            }

            .nav-search-wrap {
                display: none;
            }

            button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: 0;
                padding: 14px 50px;
                border-radius: 4px;
                background-color: #37B595;
                color: #FFFFFF;
                text-transform: capitalize;
                font-size: 18px;
                font-family: Roboto, sans-serif;
                line-height: 22px;
                outline: none;
                cursor: pointer;
                transition: all 0.2s;
            }
            button:hover {
                background-color: #1A7F75;
            }
            button.previous {
                background-color: #A2ACAF;
            }
            button.previous:hover {
                background-color: #5A5F61;
            }

            .full-width-container {
                width: 100%;
                min-width: 320px;
            }

            .sized-container {
                max-width: 900px;
                width: 100%;
                margin: 0 auto;
            }

            .button-container {
                border-top: 1px solid black;
                overflow: hidden;
                padding-top: 30px;
            }
            .button-container button {
                float: right;
                margin-left: 30px;
            }

            .pagination-container {
                margin-top: 120px;
            }

            .pagination {
                width: 100%;
                text-align: center;
                padding: 0 25px;
            }

            .indicator {
                width: 25px;
                height: 25px;
                border: 4px solid lightgray;
                border-radius: 50%;
                display: inline-block;
                transition: all 0.3s;
                position: relative;
            }
            .indicator .tag {
                position: absolute;
                top: -30px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                color: lightgray;
                white-space: nowrap;
            }
            .indicator.active, .indicator.complete {
                border-color: #37B595;
            }
            .indicator.active .tag, .indicator.complete .tag {
                color: #37B595;
            }
            .indicator.complete:after {
                content: "✓";
                position: absolute;
                color: #37B595;
                left: 4px;
                top: 3px;
                font-size: 14px;
            }

            .progress-bar-container {
                width: 10%;
                height: 4px;
                display: inline-block;
                background-color: lightgray;
                position: relative;
                top: -10px;
            }
            .progress-bar-container:last-of-type {
                display: none;
            }
            .progress-bar-container .progress-bar {
                width: 0;
                height: 100%;
                background-color: #37B595;
            }
            
            .mdl-cardwebkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;font-size:16px;font-weight:400;min-height:200px;overflow:hidden;width:330px;z-index:1;position:relative;background:transparent!important;border-radius:2px;box-sizing:border-box


            .mdl-card__supporting-text {
                color: rgba(0, 0, 0, 0.54);
                font-size: 1rem;
                line-height: 18px;
                overflow: hidden;
                padding: 16px;
                width: 90%;
            }
            /*
            
                    .portfolio-header .mdl-layout__header-row {
                      padding: 0;
                      -webkit-justify-content: center;
                          -ms-flex-pack: center;
                              justify-content: center;
                    } 
                    .portfolio-logo {
                      background: url(images/logo.png) 50% no-repeat;
                      background-size: cover;
                      height: 150px;
                      width: 150px;
                      margin: auto auto 10px;
                    }
            */

            .mdl-layout__title {
                font-size: 14px;
                text-align: center;
                font-weight: 300;
            }

            .is-compact .mdl-layout__title span {
                display: none;
            }
            
            .mdl-layout__content{
                background: rgba(0, 0, 0, 0);
            }

            .portfolio-logo-row {
                min-height: 200px;
            }

            .is-compact .portfolio-logo-row {
                min-height: auto;
            }



            .is-compact .portfolio-logo {
                height: 50px;
                width: 50px;
                margin-top: 7px;
            }

            .portfolio-navigation-row {
                background-color: rgba(0, 0, 0, 0.08);
                text-transform: uppercase;
                height: 45px;
            }

            .portfolio-navigation-row  .mdl-navigation {
                text-align: center;
                max-width: 900px;
                width: 100%;
            }

            .portfolio-navigation-row .mdl-navigation__link {
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                line-height: 42px;
            }

            .portfolio-header .mdl-layout__drawer-button {
                background-color: transparent;
            }

            .portfolio-navigation-row .is-active {
                position: relative;
                font-weight: bold;
            }

            .portfolio-navigation-row .is-active:after {
                content: "";
                width: 70%;
                height: 2px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgb(255,64,129);
                left: 15%;
            }

            .portfolio-card .mdl-card__title {
                padding-bottom: 0;
            }


            .portfolio-blog-card-compact .mdl-card__title {
                padding-bottom: 0;
            }

            .portfolio-blog-card-bg > .mdl-card__actions {
                height: 52px;
                padding: 16px;
                background: grey;
            }

            img.article-image {
                width: 100%;
                height: auto;
            }

            .portfolio-max-width {
                max-width: 900px;
                margin: auto;
            }

            .portfolio-copy {
                max-width: 700px;
            }

            .no-padding {
                padding: 0;
            }

            .no-left-padding{
                padding-left: 0;
            }

            .no-bottom-padding {
                padding-bottom: 0;
            }

            .padding-top {
                padding: 10px 0 0;
            }

            .portfolio-share-btn {
                position: relative;
                float: right;
                top: -4px;
            }

            .demo-card-event > .mdl-card__actions {
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                box-sizing: border-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }

            .portfolio-contact .mdl-textfield {
                width: 100%;
            }

            .portfolio-contact form {
                max-width: 550px;
                margin: auto;
            }

            footer {
                background-size: cover;
            }

            /*form styles*/
            #msform {

                margin: 50px auto;
                text-align: center;
                position: relative;
            }
            #msform fieldset {
                background: white;
                border: 0 none;
                border-radius: 3px;
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
                padding: 20px 30px;


                /*stacking fieldsets above each other*/

            }
            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }
            /*inputs*/
            #msform input, #msform textarea {
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 10px;
                width: 100%;
                box-sizing: border-box;
                font-family: Roboto, sans-serif;
                color: #2C3E50;
                font-size: 13px;
            }
            /*buttons*/
            #msform .action-button {
                width: 100px;
                background: #27AE60;
                font-family: Roboto, sans-serif;
                font-weight: bold;
                color: white;
                border: 0 none;
                border-radius: 1px;
                cursor: pointer;
                padding: 10px 5px;
                margin: 10px 5px;
            }
            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
            }
        
        #msform .action-button.disabled{
            opacity: 0.65; 
            cursor: not-allowed;
        }



            .material-icons.md-48 { font-size: 100px; }

            .container1 {
                width: 90px;
                margin: 3em auto;
            }

            .st0 {
                fill: yellow;
            }

            .st1 {
                fill: none;
                stroke: #FFFFFF;
                stroke-width: 4;
                stroke-miterlimit: 10;
            }

            .st2 {
                fill: none;
                opacity: .5;
                stroke: yellow;
                stroke-width: 2;
                stroke-miterlimit: 10;
            }

            #one {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .1s infinite;
                animation: line-glow 1s .1s infinite;
            }

            #two {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .2s infinite;
                animation: line-glow 1s .2s infinite;
            }

            #three {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .3s infinite;
                animation: line-glow 1s .3s infinite;
            }

            #four {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .4s infinite;
                animation: line-glow 1s .4s infinite;
            }

            #five {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .5s infinite;
                animation: line-glow 1s .5s infinite;
            }

            #six {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .6s infinite;
                animation: line-glow 1s .6s infinite;
            }

            #seven {
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-animation: line-glow 1s .7s infinite;
                animation: line-glow 1s .7s infinite;
            }

            #bulb-body-fill {
                -webkit-animation: bulb-on 1s ease infinite;
                animation: bulb-on 1s ease infinite;
            }

            @-webkit-keyframes line-glow {
                10% {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                    opacity: 1;
                }
            }

            @keyframes line-glow {
                10% {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                    opacity: 1;
                }
            }

            @-webkit-keyframes bulb-on {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            @keyframes bulb-on {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            @keyframes scaleUpDown {
                0%,
                100% {
                    transform: scaleY(1) scaleX(1);
                }
                50%,
                90% {
                    transform: scaleY(1.1);
                }
                75% {
                    transform: scaleY(0.95);
                }
                80% {
                    transform: scaleX(0.95);
                }
            }

            @keyframes shake {
                0%,
                100% {
                    transform: skewX(0) scale(1);
                }
                50% {
                    transform: skewX(5deg) scale(0.9);
                }
            }

            @keyframes particleUp {
                0% {
                    opacity: 0;
                }
                20% {
                    opacity: 1;
                }
                80% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    top: -100%;
                    transform: scale(0.5);
                }
            }

            @keyframes glow {
                0%,
                100% {
                    background-color: #ef5a00;
                }
                50% {
                    background-color: #ff7800;
                }
            }

            .fire {
                position: relative;
                width: 80px;
                height: 90px;
                background-color: transparent;
                margin-top: 5em;
                margin-left: auto;
                margin-right: auto;
            }

            .fire-main {
                position: absolute;
                height: 80%;
                width: 80%;
                animation: scaleUpDown 3s ease-out;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            .fire-main .main-fire {
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
                transform: scaleX(0.8) rotate(45deg);
                border-radius: 0 40% 60% 40%;
                filter: drop-shadow(0 0 10px #d43322);
            }

            .fire-main .particle-fire {
                position: absolute;
                top: 60%;
                left: 45%;
                width: 10px;
                height: 10px;
                background-color: #ef5a00;
                border-radius: 50%;
                filter: drop-shadow(0 0 10px #d43322);
                animation: particleUp 2s ease-out 0;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            .fire-right {
                height: 100%;
                width: 100%;
                position: absolute;
                animation: shake 2s ease-out 0;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            .fire-right .main-fire {
                position: absolute;
                top: 15%;
                right: -25%;
                width: 100%;
                height: 100%;
                background-color: #ef5a00;
                transform: scaleX(0.8) rotate(45deg);
                border-radius: 0 40% 60% 40%;
                filter: drop-shadow(0 0 10px #d43322);
            }

            .fire-right .particle-fire {
                position: absolute;
                top: 45%;
                left: 50%;
                width: 15px;
                height: 15px;
                background-color: #ef5a00;
                transform: scaleX(0.8) rotate(45deg);
                border-radius: 50%;
                filter: drop-shadow(0 0 10px #d43322);
                animation: particleUp 2s ease-out 0;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            .fire-left {
                position: absolute;
                height: 100%;
                width: 100%;
                animation: shake 3s ease-out 0;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            .fire-left .main-fire {
                position: absolute;
                top: 15%;
                left: -20%;
                width: 100%;
                height: 100%;
                background-color: #ef5a00;
                transform: scaleX(0.8) rotate(45deg);
                border-radius: 0 40% 60% 40%;
                filter: drop-shadow(0 0 10px #d43322);
            }

            .fire-left .particle-fire {
                position: absolute;
                top: 10%;
                left: 20%;
                width: 10%;
                height: 10%;
                background-color: #ef5a00;
                border-radius: 50%;
                filter: drop-shadow(0 0 10px #d43322);
                animation: particleUp 3s infinite ease-out 0;
                animation-fill-mode: both;
            }

            .fire-bottom .main-fire {
                position: absolute;
                top: 30%;
                left: 20%;
                width: 75%;
                height: 75%;
                background-color: #ff7800;
                transform: scaleX(0.8) rotate(45deg);
                border-radius: 0 40% 100% 40%;
                filter: blur(10px);
                animation: glow 2s ease-out 0;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            .container2 {
                position: relative;
                width: 100px;
                height: 125px;
                background-color: transparent;
                margin-top: 5em;
                left: 25%;
                margin-right: 5em;

            }

            .animation {
                width: 350px;
                height: 200px;
                top: 50%;
            }

            .backwheel, .frontwheel {
                position: absolute;
                width: 35px;
                height: 35px;
                border: 3px solid white;
                border-radius: 50%;
                background: black;
                -webkit-animation: wheels 0.4s linear infinite;
                animation: wheels 0.4s linear infinite;
            }
            .backwheel::after, .frontwheel::after {
                content: "";
                width: 1px;
                height: 25px;
                background: white;
                position: absolute;
                left: 17px;
                top: 5px;
            }
            .backwheel::before, .frontwheel::before {
                content: "";
                width: 25px;
                height: 1px;
                background: white;
                position: absolute;
                left: 5px;
                top: 17px;
            }

            .car {
                position: relative;

            }
            .car .body {
                width: 200px;
                height: 40px;
                background: #0d5bd8;
                border: 3px solid #0d5bd8;
                border-top-left-radius: 80%;
                border-top-right-radius: 95%;
                border-bottom-left-radius: 30%;
                border-bottom-right-radius: 40%;
            }
            .car .body .upperbody {
                position: absolute;
                background: #0d5bd8;
                width: 150px;
                height: 50px;
                border-radius: 50%;
                border-top-left-radius: 80%;
                top: -8px;
                left: 6px;
            }
            .car .body .upperbody .window {
                position: absolute;
                background: white;
                width: 80px;
                height: 20px;
                top: 5px;
                right: 25px;
                border-top-left-radius: 90%;
                border-top-right-radius: 85%;
                border-bottom-left-radius: 90%;
                border-bottom-right-radius: 10%;
            }
            .car .body .upperbody .window .line {
                width: 1px;
                height: 25px;
                background: black;
                position: absolute;
                left: 25px;
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
                top: -2px;
            }
            .car .body .backwheel {
                bottom: -10px;
                left: 15px;
            }
            .car .body .frontwheel {
                bottom: -10px;
                left: 135px;
            }

            @-webkit-keyframes wheels {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @keyframes wheels {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }


            @-webkit-keyframes move {
                0% {
                    right: -200px;
                }
                100% {
                    right: 400px;
                }
            }

            @keyframes move {
                0% {
                    right: -200px;
                }
                100% {
                    right: 400px;
                }
            }

            .bx-container {
                width: 40%;
                height: 173px;
                margin: 1em auto;
            }

            .meter {
                transform-origin: 50% 100%;
            }

            /* Gauge Animation */
            .meter {
                animation: move-meter 3s infinite;
            }

            @keyframes move-meter {
                0% {
                    transform: rotateZ(-55deg);
                }
                35% {
                    transform: rotateZ(35deg);
                }
                45% {
                    transform: rotateZ(-10deg);
                }
                70% {
                    transform: rotateZ(25deg);
                }
            }

            .loader {
                position: absolute;
                top: 30%;
                left: 10%;
                margin: auto;
                transform: translate(-50%,-50%);
                width: 150px;
                position: relative;
                background-color: transparent;
                margin-top: 3em;
            }

            .plane {
                animation: spin 3s linear infinite;
                fill: #131414;
                transform-origin: 50% 50%;
            }

            @keyframes spin{
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(-360deg);
                }
            }

            .plane2 {
                animation: spin2 3s linear infinite;
                fill: #131414;
                transform-origin: 50% 50%;
            }


            @keyframes spin2{
                0% {
                    transform: rotate(-360deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }

            .container_plane {
                position: relative;
                width: 150px;
                height: 205px;
                margin-left: auto;
                margin-right: auto;
            }

            .streams {
                display: flex;
                justify-content: space-around;
                width: 80%;
                margin: 0 auto;
            }

            .stream {
                opacity: 0;
                background-color: rgba(51, 51, 51, 0.3);
                border-radius: 5px;
                height: 80px;
                width: 5px;
                -webkit-animation: trail 2s linear infinite;
                animation: trail 2s linear infinite;
                position: relative;
            }
            .stream:nth-child(1) {
                -webkit-animation-delay: 300ms;
                animation-delay: 300ms;
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            .stream:nth-child(2) {
                -webkit-animation-delay: 700ms;
                animation-delay: 700ms;
            }
            .stream:nth-child(3) {
                -webkit-animation-delay: 500ms;
                animation-delay: 500ms;
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
            }

            @-webkit-keyframes trail {
                0% {
                    top: -80px;
                    opacity: 0;
                }
                50% {
                    opacity: 0;
                }
                60% {
                    opacity: 1;
                }
                100% {
                    top: 30px;
                    opacity: 0;
                }
            }

            @keyframes trail {
                0% {
                    top: -80px;
                    opacity: 0;
                }
                50% {
                    opacity: 0;
                }
                60% {
                    opacity: 1;
                }
                100% {
                    top: 30px;
                    opacity: 0;
                }
            }

            .container3 {
                padding:20px;
                width:300px;
                margin:0 auto;
            }

            #WRAP {
                width: 400px; 
                height: 1px; 
                margin: auto; 
                text-align: center; 
            }

            .paper {
                width: 86px; 
                height: 110px; 
                background-color: white; 
                display: inline-block; 
                opacity: 0; 
                position: absolute; 
                color: #ffffff; 
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
                font-size: 25px; 
                line-height: 110px; 
                transition: all 0.3s ease; 
            }

            .one {
                background-color: #E84C3D; 
                margin-left: -224px; 
            }

            .two {
                background-color: #F2C311; 
                margin-left: -75px; 
            }

            .three {
                background-color: #1CBB9B; 
                margin-left: 75px; 
            }

            .four {
                background-color: #9956B3; 
                margin-left: 224px; 
            }

            .arrow {
                width: 0px; 
                height: 0px; 
                position: absolute; 
                border: 10px solid #2D3E52; 
                border-left: 10px solid white; 
                border-bottom: 10px solid white; 
                margin-left: 66px; 
                box-shadow: 20px 0px 0px #2D3E52, 0px -20px 0px #2D3E52, 20px -20px 0px #2D3E52; 
            }

            .one > .arrow {
                border-left-color: #BE3429; 
                border-bottom-color: #BE3429; 
            }

            .two > .arrow {
                border-left-color: #F19913; 
                border-bottom-color: #F19913; 
            }

            .three > .arrow {
                border-left-color: #129E84; 
                border-bottom-color: #129E84; 
            }

            .four > .arrow {
                border-left-color: #8945AA; 
                border-bottom-color: #8945AA; 
            }

            #SELECT {
                margin-left: -80px; 
            }

            .paper:hover {
                margin-top: -10px; 
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); 
            }
            
            strong{
                color: red;
            }
